.background {
    background-color: rgb(80, 227, 227);
    color: aliceblue;
    display: flex;
    flex-direction: row;
}

.background Button {
    height: 30px
}

.title {
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}